# Maven build output
target/
demo/target/
*.class
*.jar
!docs/downloads/*.jar
!demo/src/main/webapp/downloads/*.jar
*.war
*.ear

# IDE & Editor files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS metadata
.DS_Store
Thumbs.db
